parameters:
    pim_ui.controller.ajax_option.class:     Pim\Bundle\CustomEntityBundle\Controller\AjaxOptionController
    pimee_ui.controller.ajax_option.class:   Pim\Bundle\CustomEntityBundle\Controller\EnterpriseAjaxOptionController
    pim_custom_entity.rest_controller.class: Pim\Bundle\CustomEntityBundle\Controller\RestController

services:
    pim_custom_entity.controller:
        class: '%pim_custom_entity.controller.class%'
        scope: request
        arguments:
            - '@pim_custom_entity.action.factory'
            - '@request_stack'

    pim_custom_entity.rest_controller:
        class: '%pim_custom_entity.rest_controller.class%'
        scope: request
        arguments:
            - '@pim_custom_entity.configuration.registry'
